
<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'about.about' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list>
      <ion-item detail>
        <h6 class="text-style">{{ 'about.schedulixwebsite' | translate }}</h6>
      </ion-item>
      <ion-item detail>
        <h6 class="text-style">{{ 'about.termsandservice' | translate }}</h6>
      </ion-item>
      <ion-item detail>
        <h6 class="text-style">{{ 'about.privatepolicy' | translate }}</h6>
      </ion-item>
      <ion-item detail>
        <h6 class="text-style">{{ 'about.licence' | translate }}</h6>
      </ion-item>
    </ion-list>

</ion-content>
