<ion-header>
    <ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'bookappointment.bookappointment' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div>
      <calendar 
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      startHour="6"
      endHour="20"
      step="30"
      startingDayWeek="1">
      </calendar>       
    </div>
  <div class="mt5">
    <button class="timebtnnotactive" fill="clear" slot="end" (click)="selectTime('12:30:00')" style="margin-left: 16px;">12:30 PM</button>
    <button class="timebtnnotactive" fill="clear" slot="end" (click)="selectTime('13:00:00')">01:00 PM</button>
    <button class="timebtnnotactive" fill="clear" slot="end" (click)="selectTime('15:40:00')">03:40 PM</button>
  </div>
  <div class="pt10" *ngFor="let item of serviceDetails">
      <ion-row>
        <ion-col size="8">
          <ion-label>{{item.name}}</ion-label>
          </ion-col>
          <ion-col size="4" [class.left]="applyclass" [class.right]="applyclasses" >
            <ion-label>{{item.price}}{{item.currency}}</ion-label><br>
          </ion-col>
          </ion-row>
            <ion-row>
            <ion-col>
         <!--<ion-label><img style="width:15px;" src="assets/images/layer.png">
            <span class="fs8 clrgray">&nbsp;Ahmed ElMalek</span></ion-label>-->
          </ion-col>
        <ion-col [class.left]="applyclass" [class.right]="applyclasses">
          <ion-label class="fs8 clrgray">{{item.duration}}<span *ngIf="item.time_measurement">{{item.time_measurement}}</span><span *ngIf="!item.time_measurement">min</span></ion-label>
        </ion-col>
      </ion-row>
  </div>
      <div style="margin:5px;">
        <div (click)="addService()">
        <ion-label><img src="assets/images/add.svg">&nbsp;<span class="fs8 clrgray">{{ 'bookappointment.addservice' | translate }}</span></ion-label><br>
        </div>
        <div class="chat">
            <ion-item style="padding-left: -8px">        
                <ion-label ><img src="assets/images/chat.svg" style="padding-left: -8px"></ion-label>
                <ion-input type="text" placeholder="Add comments" [(ngModel)]="appintmentData.comment"></ion-input>
        </ion-item>
        <!-- <ion-label><img src="assets/images/chat.svg">&nbsp;<span class="fs8 clrgray">{{ 'bookappointment.addservice' | translate }}</span></ion-label> -->
        </div>
      </div>
      <div class="mt10 ml5 mr5 textcntr">
        <ion-button class="confirmbtn" fill="clear" (click)="addAppointment()">{{ 'bookappointment.confirmbtn' | translate }}</ion-button>
      </div>
</ion-content>
